*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero{
    background-color: #1f2937;
}

.navigation{
    display: flex;
    gap: 32em;
    justify-content: center;
    padding: 1em;
}

.hero .navigation h2{
    font-size: 24px;
    color: #f9faf8;
}

.hero .navigation nav ul{
    display: flex;
    gap: 1.2em;
    list-style: none;
    font-size: 18px;
}

.hero .navigation nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

.hero p{
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button{
    background-color: #3882f6;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 600;
    padding: .4em 2em;
    border-radius: 10px;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 3rem;
}

.hero-content{
    width: 28em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: .6em;
}

.hero-image{
    width: 35em;
    height: 18em;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information{
    margin-bottom: 6rem;
}

.information h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    margin: 3rem;
}

.information-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.information-container{
    width: 9em;
    text-align: center;
}

.information-box{
    width: 9em;
    height: 9em;
    border: #3882f6 solid 5px;
    border-radius: 16px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width: 60em;
    height: auto;
    margin: 8rem;
}

.quote-container p{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-container h3{
    text-align: right;
    font-weight: 900;
    margin-top: 1rem;
}

footer{
    background-color: #1f2937;
    text-align: center;
    padding: 2em;
    color: #f9faf8;
}
